<div class="card">
  <p-toast></p-toast>

  <div class="card">
    <p-table
      [scrollable]="true" scrollHeight="600px"
      [value]="pessoas"
      [lazy]="true"
      dataKey="id"
      [rowHover]="true"
      [paginator]="true"
      [rows]="itensPorPagina"
      [(first)]="indicePagina"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '60rem' }"
      currentPageReportTemplate="Exibindo de {first} a {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[5, 10, 20]"
      (onPage)="pageChange($event)"
      [totalRecords]="totalElementos">

      <ng-template pTemplate="caption">
        <div class="flex">
          <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success"
                  (click)="cadastrar()"></button>
          <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Pesquise pelo nome..." [formControl]="nomeFilter"/>
            </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Data nascimento</th>
          <th>Contatos</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.dataNascimento | date: 'dd/MM/yyyy' }}</td>
          <td>{{ pessoa.contatos.length }}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="editarPessoa(pessoa)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="confirmaExclusao($event, 'pessoa', -1, pessoa.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="isShowFormPessoa" [style]="{ minWidth: '450px' }"
            header="Detalhes de {{pessoa ? pessoa.nome : ''}}"
            [modal]="true" styleClass="p-fluid" id="pessoa">
    <ng-template pTemplate="content">
      <form [formGroup]="formPessoa" (ngSubmit)="salvarPessoa()">
        <div class="field">
          <label for="nome">Nome</label>
          <input type="text" pInputText id="nome" required autofocus formControlName="nome"/>
          <small class="p-error">
            <app-error-msg [control]="getControl(formPessoa, 'nome')"></app-error-msg>
          </small>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label>CPF</label>
            <p-inputMask mask="999.999.999-99" formControlName="cpf" placeholder="000.000.000-00"></p-inputMask>
            <small class="p-error">
              <app-error-msg [control]="getControl(formPessoa, 'cpf')"></app-error-msg>
            </small>
          </div>
          <div class="field col">
            <label>Dt Nascimento</label>
            <p-inputMask mask="99/99/9999" formControlName="dataNascimento" placeholder="10/05/1999"></p-inputMask>
            <small class="p-error">
              <app-error-msg [control]="getControl(formPessoa, 'dataNascimento')"></app-error-msg>
            </small>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="field">
          <p-table [value]="contatos" [tableStyle]="{ 'min-width': '50rem' }"
                   [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                Contatos
                <p-button icon="pi pi-plus" (click)="abrirModalContato()"></p-button>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
              <tr>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.email }}</td>
                <td>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-danger" type="button"
                          (click)="confirmaExclusao($event, 'contato', rowIndex, 0)"
                          [disabled]="contatos.length === 1"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
              (click)="hideDialog(true)"></button>
      <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="salvarPessoa()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="isShowFormContato" [style]="{ minWidth: '450px' }"
            header="Detalhes do contato"
            [modal]="true" styleClass="p-fluid" id="contato">
    <ng-template pTemplate="content">
      <form [formGroup]="formContato" (ngSubmit)="adicionarContato()">
        <div class="field">
          <label for="nomeContato">Nome</label>
          <input type="text" pInputText id="nomeContato" required autofocus formControlName="nome"/>
          <small class="p-error">
            <app-error-msg [control]="getControl(formContato, 'nome')"></app-error-msg>
          </small>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label>Telefone</label>
            <input type="text" pInputText id="telefone" required formControlName="telefone"/>
            <small class="p-error">
              <app-error-msg [control]="getControl(formContato, 'telefone')"></app-error-msg>
            </small>
          </div>
          <div class="field col">
            <label>E-mail</label>
            <input type="text" pInputText id="email" required formControlName="email"/>
            <small class="p-error">
              <app-error-msg [control]="getControl(formContato, 'email')"></app-error-msg>
            </small>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
              (click)="hideDialog(false)"></button>
      <button pButton pRipple label="Adicionar" icon="pi pi-check" class="p-button-text"
              (click)="adicionarContato()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog></p-confirmDialog>

</div>
